
#wrapper {
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

div.side {
    width: 10%;
    height: 100%;
    background-color: rgba(220, 245, 245, 1);
}

div.content {
    width: 80%;
    overflow: hidden;
    background-color: rgba(205, 230, 230, .6);
}

div.content canvas {
    width: 100%;
    height: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    height: 4em;
    font-size: 4em;
    text-align: center;
}

#header div.info {
    width: 200px;
}

#header div.info span.lbl {
    font-size: 1em;
}

#header #progress{
    background-color: #333;
}